pkgbase = phasor-shell
	pkgdesc = Portable Quickshell desktop shell for MangoWM
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/tzachmost/phasor
	arch = any
	license = MIT
	depends = mangowm-git
	depends = quickshell
	depends = python
	depends = xdg-utils
	depends = wl-clipboard
	depends = glib2
	depends = swaybg
	depends = cliphist
	depends = swaync
	depends = flameshot
	optdepends = playerctl: MPRIS controls
	optdepends = nautilus: reveal files in the default file manager
	optdepends = brightnessctl: brightness controls
	optdepends = wireplumber: audio controls via wpctl
	optdepends = networkmanager: network status and Wi-Fi controls
	optdepends = bluez: Bluetooth status and power controls
	optdepends = polkit-gnome: authentication agent
	conflicts = phasor-shell-git
	replaces = phasor-shell-git
	source = phasor-1.0.0.tar.gz::https://github.com/tzachmost/phasor/releases/download/v1.0.0/phasor-1.0.0.tar.gz
	sha256sums = 62db2076c14c4315dbd086f3af011cd36e35170e4080ae074b846fecacdd28c2

pkgname = phasor-shell
